<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentLevel</key>
	<integer>1</integer>
	<key>currentScene</key>
	<string>Level1</string>
	<key>PlayerShipSettings</key>
	<dict>
		<key>Upgrades</key>
		<array/>
		<key>PartsAtlas</key>
		<array>
			<string>shipPart1</string>
			<string>shipPart2</string>
			<string>shipPart3</string>
			<string>shipPart4</string>
			<string>shipPart5</string>
			<string>shipPart6</string>
			<string>shipPart7</string>
			<string>shipPart8</string>
			<string>shipPart9</string>
			<string>shipPart10</string>
			<string>shipPart11</string>
			<string>shipPart12</string>
			<string>shipPart13</string>
			<string>shipPart14</string>
			<string>shipPart15</string>
			<string>shipPart16</string>
			<string>shipPart17</string>
			<string>shipPart18</string>
			<string>shipPart19</string>
			<string>shipPart20</string>
			<string>shipPart21</string>
			<string>shipPart22</string>
			<string>shipPart23</string>
			<string>shipPart24</string>
			<string>shipPart25</string>
			<string>shipPart26</string>
			<string>shipPart27</string>
			<string>shipPart28</string>
			<string>shipPart29</string>
		</array>
		<key>ExplosionAtlas</key>
		<array>
			<string>explosion1</string>
			<string>explosion2</string>
			<string>explosion3</string>
			<string>explosion4</string>
			<string>explosion5</string>
			<string>explosion6</string>
			<string>explosion7</string>
			<string>explosion8</string>
			<string>explosion9</string>
			<string>explosion10</string>
			<string>explosion11</string>
			<string>explosion12</string>
			<string>explosion13</string>
			<string>explosion14</string>
			<string>explosion15</string>
			<string>explosion16</string>
			<string>explosion17</string>
			<string>explosion18</string>
			<string>explosion19</string>
			<string>explosion20</string>
			<string>explosion21</string>
			<string>explosion22</string>
			<string>explosion23</string>
			<string>explosion24</string>
			<string>explosion25</string>
			<string>explosion26</string>
			<string>explosion27</string>
			<string>explosion28</string>
			<string>explosion29</string>
			<string>explosion30</string>
			<string>explosion31</string>
			<string>explosion32</string>
			<string>explosion33</string>
			<string>explosion34</string>
			<string>explosion35</string>
			<string>explosion36</string>
			<string>explosion37</string>
			<string>explosion38</string>
			<string>explosion39</string>
			<string>explosion40</string>
			<string>explosion41</string>
			<string>explosion42</string>
			<string>explosion43</string>
			<string>explosion44</string>
			<string>explosion45</string>
			<string>explosion46</string>
			<string>explosion47</string>
			<string>explosion48</string>
			<string>explosion49</string>
			<string>explosion50</string>
			<string>explosion51</string>
			<string>explosion52</string>
			<string>explosion53</string>
			<string>explosion54</string>
			<string>explosion55</string>
			<string>explosion56</string>
			<string>explosion57</string>
			<string>explosion58</string>
			<string>explosion59</string>
			<string>explosion60</string>
			<string>explosion61</string>
			<string>explosion62</string>
			<string>explosion63</string>
			<string>explosion64</string>
			<string>explosion65</string>
			<string>explosion66</string>
			<string>explosion67</string>
			<string>explosion68</string>
			<string>explosion69</string>
			<string>explosion70</string>
			<string>explosion71</string>
			<string>explosion72</string>
			<string>explosion73</string>
			<string>explosion74</string>
			<string>explosion75</string>
			<string>explosion76</string>
			<string>explosion77</string>
			<string>explosion78</string>
			<string>explosion79</string>
			<string>explosion80</string>
			<string>explosion81</string>
			<string>explosion82</string>
			<string>explosion83</string>
			<string>explosion84</string>
			<string>explosion85</string>
			<string>explosion86</string>
			<string>explosion87</string>
			<string>explosion88</string>
			<string>explosion89</string>
			<string>explosion90</string>
		</array>
		<key>PlayerShipThruster</key>
		<string>thruster1</string>
		<key>PlayerShipLights</key>
		<string>shiplights</string>
		<key>PlayerShipBodyShape</key>
		<string>alpha</string>
		<key>PlayerShipImage</key>
		<string>playerShip3_blue</string>
		<key>PlayerShipScale</key>
		<string>{1.0,1.0}</string>
	</dict>
	<key>GameSettings</key>
	<dict>
		<key>ShowsPhysics</key>
		<false/>
		<key>ParallaxOffset</key>
		<string>{ 0.7, 0.8 }</string>
		<key>Gravity</key>
		<string>{ 0.0, 0.0 }</string>
	</dict>
</dict>
</plist>
